
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous" />

	<link rel="stylesheet" type="text/css" href="/css/util.css"
		  th:href="@{/css/util.css}" />
	<link rel="stylesheet" type="text/css" href="/css/main.css"
		  th:href="@{/css/main.css}" />

	<title>Nuevo usuario</title>
</head>

<body>
	<div class="content">
	<h2>Nuevo usuario</h2>
	<form action="#" th:action="@{/usuario/add}" th:object="${usuario}"
		method="post">
		<table>
			<tr>
				<td><label>Email</label></td>
				<td><input type="email" th:field="*{email}"
					th:required="required" class="form-control" /></td>
			</tr>
			<tr>
				<td><label>Contraseña</label></td>
				<td><input type="password" th:field="*{password}"
					th:required="required" class="form-control" /></td>
			</tr>
			<tr>
				<td><label>Tipo</label></td>
				<td><select class="form_control" th:field="*{tipo}">
						<option
							th:each="tipo : ${T(es.uji.ei1050.ccc.model.Perfiles).values()}"
							th:value="${tipo}" th:text="${tipo.descripcion}"></option>
				</select></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class="btn btn-success"
					value="Crear usuario" /></td>
			</tr>
		</table>
	</form>
			<p>
			<a href="javascript:history.back()" class="btn btn-dark">Atrás</a>
		</p>
</body>
</html>
