<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar contrato</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<h2>Editar contrato</h2>
<form action="#" th:action="@{/contrato/editar/{dni}(dni=${contrato.Persone_dni})}"
      th:object="${contrato}" method="post">
    <table>
        <tr>
            <td><label>Sueldo base</label></td>
            <td><input type="number" th:field="*{sueldoBase}"/></td>
        </tr>
        <tr>
            <td><label>Dias de vacaciones</label></td>
            <td><input type="number" th:field="*{diasVacaciones}"/></td>
        </tr>
        <tr>
            <td><label>Tipo de contrato</label></td>
            <td><input type="text" th:field="*{tipoContrato}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Guardar" colspan="2"/></td>
        </tr>
    </table>

</form>

</body>
</html>