<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title layout:title-pattern="$CONTENT_TITLE">CCC</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="/empresa/informacion"><span th:text="${session.empresa}"></span></a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar -->

        <ul class="navbar-nav ml-auto">
            <!--NOTIFICACIONES-->
            <li th:if="${session.tipo == 'JF'}" class="nav-item dropdown no-arrow ml-auto">
                <a class="nav-link dropdown-toggle" href="/notificacion/lista" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!--NUMERO NOTIFICACIONES-->
                    <span th:if="${session.numNotificaciones > 0}" class="badge badge-danger" th:text="${session.numNotificaciones}"></span>
                </a>
                <!--&lt;!&ndash;FOR EACH NOTIFICACION&ndash;&gt;-->
                <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">-->
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                <!--</div>-->
            </li>
            <!--PERFIL-->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a th:if="${session.tipo == 'JF'}" class="dropdown-item" href="/jefe/informacion">Información</a>
                    <a th:if="${session.tipo == 'TR'}" class="dropdown-item" href="/trabajador/informacion">Información</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>
</div>

<div th:fragment="sidebar">
    <!-- Sidebar JEFE -->
    <ul th:if="${session.tipo == 'JF'}" class="sidebar navbar-nav">

        <li class="nav-item active">
            <a class="nav-link" href="/trabajador/lista">
                <i class="fas fa-fw fa-table"></i>
                <span>Trabajadores</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/notificacion/lista">
                <i class="fas fa-fw fa-table"></i>
                <span>Notificaciones</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/horario">
                <i class="fas fa-fw fa-table"></i>
                <span>Horarios trabajadores</span></a>
        </li>
    </ul>

    <!-- Sidebar TRABAJADOR -->
    <ul th:if="${session.tipo == 'TR'}" class="sidebar navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/contrato/informacion">
                <i class="fas fa-fw fa-table"></i>
                <span>Contrato</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/horario">
                <i class="fas fa-fw fa-table"></i>
                <span>Horario</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notificacion/notificar">
                <i class="fas fa-fw fa-table"></i>
                <span>Notificar</span></a>
        </li>
    </ul>

</div>

<div th:fragment="footer">
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © CCC 2019</span>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="modal">
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Logout" para cerrar sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/usuario/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>