<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Jefe</title>
</head>
<body>
    <h1>Página principal del jefe</h1>
    <a></a>
    <a href="informacion.html">Información personal</a><br>
    <a href="/empresa/informacion.html">Información empresa</a><br>
    <a href="/templates/trabajador/lista.html">Lista de trabajadores</a><br>
    <a href="/trabajador/listadisponibilidad.html">Disponibilidad trabajadores</a><br>
    <a href="trabajador/listaemails.html">Emails trabajadores</a>


</body>
</html>