<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Información Jefe</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<h2>Información Jefe</h2>
<form th:object="${jefe}">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td th:text="${jefe.nombre}"></td>
        </tr>
        <tr>
            <td><label>Apellidos</label></td>
            <td th:text="${jefe.apellidos}"></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td th:text="${jefe.dni}"></td>
        </tr>
        <tr>
            <td><label>Domicilio</label></td>
            <td th:text="${jefe.domicilio}"></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td th:text="${jefe.telefono}"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td th:text="${jefe.email}"></td>
        </tr>
        <tr>
            <td><label>Cuenta bancaria</label></td>
            <td th:text="${jefe.cuentaBancaria}"></td>
        </tr>
        <tr>
        </tr>
    </table>
    <a href="/jefe/principal">Atrás</a>
</form>

</body>
</html>