<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Jefe</title>
</head>
<body>
    <h1>Página principal del jefe</h1>
    <a></a>
    <a href="/jefe/informacion">Información personal</a><br>
    <a href="/empresa/informacion">Información empresa</a><br>
    <a href="/trabajador/añadir">Añadir trabajador</a><br>
    <a href="/trabajador/lista.html">Lista de trabajadores</a><br>
    <a href="/trabajador/listadisponibilidad.html">Disponibilidad trabajadores</a><br>
    <a href="/trabajador/listaemails.html">Emails trabajadores</a>

</body>
</html>