<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CCC - Editar trabajador</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">
<div th:insert="fragments/base :: nav"></div>

<div id="wrapper">

    <div th:insert="fragments/base :: sidebar"></div>


    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/trabajador/lista">Lista trabajadores</a>
                </li>
                <li class="breadcrumb-item active">Editar trabajador</li>
            </ol>

            <!-- Page Content -->
            <form action="#" th:action="@{/trabajador/editar/{dni}(dni=${trabajador.dni})}"
                  th:object="${trabajador}" method="post">
                <table>
                    <tr>
                        <td><label>Nombre</label></td>
                        <td><input type="text" th:field="*{nombre}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Apellidos</label></td>
                        <td><input type="text" th:field="*{apellidos}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>DNI</label></td>
                        <td><input type="text" th:field="*{dni}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Domicilio</label></td>
                        <td><input type="text" th:field="*{domicilio}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Teléfono</label></td>
                        <td><input type="number" th:field="*{telefono}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td><input type="text" th:field="*{email}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Cuenta bancaria</label></td>
                        <td><input type="text" th:field="*{cuentaBancaria}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>Puesto de trabajo</label></td>
                        <td><input type="text" th:field="*{puestoTrabajo}"/></td>
                    </tr>
                    <tr>
                        <td><label>Turno</label></td>
                        <td><input type="text" th:field="*{turno}" readonly="readonly"/></td>
                        </td>

                    </tr>
                    <tr>
                        <td><input type="submit" value="Guardar" colspan="2"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <div th:replace="fragments/base :: footer"></div>
    </div>
</div>
<!-- /#wrapper -->

<div th:replace="fragments/base :: modal"></div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

</body>

</html>
