<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista trabajadores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<h1>Lista disponibilidad de trabajadores</h1>
<table>
    <thead>
    <tr>
        <th>Nombre </th>
        <th>Apellidos </th>
        <th>Disponibilidad </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trabajador: ${trabajadores}">
        <td th:text="${trabajador.nombre}"></td>
        <td th:text="${trabajador.apellidos}"></td>
        <td th:text="${trabajador.turno}"></td>
    </tr>
    </tbody>
</table>
<a href="jefe/index.html">Atrás</a>
</body>
</html>
