<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CCC - Lista de trabajadores</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">
<div th:insert="fragments/base :: nav"></div>

<div id="wrapper">

    <div th:insert="fragments/base :: sidebar"></div>


    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Trabajadores</li>
            </ol>

            <a href="/trabajador/añadir" class="btn btn-info" >Añadir Trabajador</a>
            <p>

                <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Lista de trabajadores</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre </th>
                                <th>Apellidos </th>
                                <th>DNI </th>
                                <th>Domicilio </th>
                                <th>Teléfono </th>
                                <th>Email </th>
                                <th>Cuenta Bancaria </th>
                                <th>Puesto de trabajo </th>
                                <th>Disponibilidad </th>
                                <th colspan="4">Acciones</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nombre </th>
                                <th>Apellidos </th>
                                <th>DNI </th>
                                <th>Domicilio </th>
                                <th>Teléfono </th>
                                <th>Email </th>
                                <th>Cuenta Bancaria </th>
                                <th>Puesto de trabajo </th>
                                <th>Disponibilidad </th>
                                <th colspan="4">Acciones</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="trabajador: ${trabajadores}">
                                <td th:text="${trabajador.nombre}"></td>
                                <td th:text="${trabajador.apellidos}"></td>
                                <td th:text="${trabajador.dni}"></td>
                                <td th:text="${trabajador.domicilio}"></td>
                                <td th:text="${trabajador.telefono}"></td>
                                <td th:text="${trabajador.email}"></td>
                                <td th:text="${trabajador.cuentaBancaria}"></td>
                                <td th:text="${trabajador.puestoTrabajo}"></td>
                                <td th:text="${trabajador.turno}"></td>
                                <td><a class="btn btn-primary btn-sm" th:href="@{/trabajador/editar/{dni}(dni=${trabajador.dni})}">Editar trabajador</a>
                                </td>
                                <td><a class="btn btn-primary btn-sm" th:href="@{/contrato/informacion/{dni}(dni=${trabajador.dni})}">Ver contrato</a>
                                </td>
                                <td><a class="btn btn-primary btn-sm" th:href="@{/horario/listahoras/{dni}(dni=${trabajador.dni})}">Ver horas</a>
                                </td>
                                <td><a class="btn btn-danger btn-sm" th:href="@{/trabajador/borrar/{dni}(dni=${trabajador.dni})}">Borrar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div th:replace="fragments/base :: footer"></div>
    </div>
</div>
<!-- /#wrapper -->

<div th:replace="fragments/base :: modal"></div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

</body>

</html>
