<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Trabajador</title>
</head>
<body>
<h1>Página principal del trabajador</h1>
<a></a>
<a href="/trabajador/informacion">Información personal</a><br>
<a href="/empresa/informacion">Información empresa</a><br>
<a href="/contrato/informacion">Ver contrato</a><br>
<a href="/trabajador/listadisponibilidad.html">Disponibilidad trabajadores</a><br>
<a href="/trabajador/listaemails.html">Emails trabajadores</a>


</body>
</html>